li {
    list-style: none;
}
a {
    text-decoration: none;
}

.Container {
    background-color: rgb(14, 185, 185);
    text-align: center;
    height: 100vh;
}

.Container img {
    width: 100%;
    border-radius: 100%;
    margin-top: -8rem;
}

.Container h1 {
    padding: 0 25px;
}

.Container hr {
    margin: 0 25px;
}

.Container li {
    border-bottom: 2px solid white;
    padding: 1rem 4rem 0.1rem ;
    text-align: justify;
}

.Container li:last-child {
    margin-bottom: 3rem;
}

.Container a {
    color: white;
    font-size: large;
    font-weight: bold;
    padding: 11px;
}

.Container div {
    padding: 1rem 0 0;
}

.Container div span {
    color: white;
}

#fill{
    color: yellow;
}

.Responsive {
    display: none;
}



/* responsive less 1000px */

@media (max-width:1000px) {
    .Container {
        /* height: auto; */
        display: none;
    }

    .Responsive {
        display: block;
        background-color: aqua;
        margin-top: 2.5rem;
    }

    .Responsive ul {
        display: flex;
        justify-content: space-around;
        margin: 0;
    }

    .Responsive li {
        margin-top: -2.5rem;
    }

    .Responsive a {
        font-size: large;
        font-weight: bold;
        padding: 11px;
        color: white;
        margin: 5px;
        padding-bottom: 10px;
    }

    .Responsive a::before {
        display: block;
        text-align: center;
        margin-bottom: 10px;
        /* padding: 10px;
        background-color: orange;
        border-radius: 50px;
        border: 5px solid darkgray; */
    }

}