.Container {
    background-color: rgb(14, 185, 185);
    text-align: center;
    height: 100vh;
}

.Container img {
    width: 100%;
    border-radius: 100%;
    margin-top: -8rem;
}

.Container h1 {
    padding: 0 25px;
}

.Container hr {
    margin: 0 25px;
}

.Container li {
    list-style: none;
    border-bottom: 2px solid white;
    padding: 1rem 4rem 0.1rem ;
    text-align: justify;
}

.Container li:last-child {
    margin-bottom: 3rem;
}

.Container a {
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bold;
    padding: 11px;
}

.Container div {
    padding: 1rem 0 0;
}

.Container div span {
    color: white;
}

#fill{
    color: yellow;
}

/* .Container a:focus {
    color: red;
} */

/* responsive less 1000px */

@media (max-width:1000px) {
    .Container {
        height: auto;
    }
    .Container img,
    .Container h1,
    .Container hr,
    .Container span,
    .Container li:last-child,
    .Container li:nth-child(5) {
        display: none;
    }
    .Container nav {
        display: flex;
    }

    .Container ul {
        display: flex;
        margin: auto;
    }

    .Container li {
        border-bottom: none;
        padding: 5px;
    }

    .Container a::before {
        display: block;
        text-align: center;
    }
}